name: trigger-note-action
on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: trigger_by_request
        run: |
          curl -X POST -u Nixum:$noteActionTriggerToken -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/Nixum/Note/dispatches -d '{"event_type":"theme_commit"}'
      
